<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/IMG_6955.jpg"
	thumbURL="thumbs/IMG_6955.jpg"
	linkURL="images/IMG_6955.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_6955.JPG"

>
    <title><![CDATA[IMG_6955]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6979.jpg"
	thumbURL="thumbs/IMG_6979.jpg"
	linkURL="images/IMG_6979.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_6979.JPG">
    <title><![CDATA[IMG_6979]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_6986.jpg"
	thumbURL="thumbs/IMG_6986.jpg"
	linkURL="images/IMG_6986.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_6986.JPG">
    <title><![CDATA[IMG_6986]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7015.jpg"
	thumbURL="thumbs/IMG_7015.jpg"
	linkURL="images/IMG_7015.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7015.JPG">
    <title><![CDATA[IMG_7015]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7063.jpg"
	thumbURL="thumbs/IMG_7063.jpg"
	linkURL="images/IMG_7063.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7063.JPG">
    <title><![CDATA[IMG_7063]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7088.jpg"
	thumbURL="thumbs/IMG_7088.jpg"
	linkURL="images/IMG_7088.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7088.JPG">
    <title><![CDATA[IMG_7088]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7097.jpg"
	thumbURL="thumbs/IMG_7097.jpg"
	linkURL="images/IMG_7097.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7097.JPG">
    <title><![CDATA[IMG_7097]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7231.jpg"
	thumbURL="thumbs/IMG_7231.jpg"
	linkURL="images/IMG_7231.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7231.JPG">
    <title><![CDATA[IMG_7231]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7383.jpg"
	thumbURL="thumbs/IMG_7383.jpg"
	linkURL="images/IMG_7383.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7383.JPG">
    <title><![CDATA[IMG_7383]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7406.jpg"
	thumbURL="thumbs/IMG_7406.jpg"
	linkURL="images/IMG_7406.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7406.JPG">
    <title><![CDATA[IMG_7406]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7438.jpg"
	thumbURL="thumbs/IMG_7438.jpg"
	linkURL="images/IMG_7438.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7438.JPG">
    <title><![CDATA[IMG_7438]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7508.jpg"
	thumbURL="thumbs/IMG_7508.jpg"
	linkURL="images/IMG_7508.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7508.JPG">
    <title><![CDATA[IMG_7508]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7531.jpg"
	thumbURL="thumbs/IMG_7531.jpg"
	linkURL="images/IMG_7531.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7531.JPG">
    <title><![CDATA[IMG_7531]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7551.jpg"
	thumbURL="thumbs/IMG_7551.jpg"
	linkURL="images/IMG_7551.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7551.JPG">
    <title><![CDATA[IMG_7551]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7555.jpg"
	thumbURL="thumbs/IMG_7555.jpg"
	linkURL="images/IMG_7555.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Guodong\AppData\Local\Web-Chris\JuiceboxBuilder-Lite\resources\images\20160730\IMG_7555.JPG">
    <title><![CDATA[IMG_7555]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>